/* Importera Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Stilmall för <body> */
body {
  font-family: "Poppins", sans-serif; /* Använd Google Font */
  margin: 0;
  padding: 0;
  background-color: #121212; /* Mörk bakgrundsfärg */
  color: #fff; /* Vit textfärg */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Gör <body> lika högt som visningsfönstret */
}

/* Stilmall för .container */
.container {
  width: 80%; /* Justera bredden efter behov */
  max-width: 600px; /* Maximal bredd för att förhindra sträckning på större skärmar */
  margin: 0 auto; /* Centrera behållaren horisontellt */
  padding: 20px; /* Lägg till lite utfyllnad för avstånd */
  background-color: #1e1e1e; /* Mörkgrå bakgrund för behållaren */
  border-radius: 8px; /* Rundade hörn för behållaren */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Skugg effekt för behållaren */
}

/* Stilmall för <h1> */
h1,
h2 {
  color: #fff; /* Vit textfärg */
  text-align: center;
  font-size: 2em; /* Större teckenstorlek */
  margin-bottom: 20px; /* Lägg till utrymme under rubriken */
}

/* Stilmall för <h2> */
h2 {
  font-size: 1.5em; /* Lite mindre teckenstorlek */
}

/* Stilmall för <p> */
p {
  color: #ddd; /* Ljusgrå textfärg */
  text-align: center;
  line-height: 1.5; /* Öka radhöjden för läsbarhet */
}

/* Formulär */
form {
  margin-bottom: 20px;
  text-align: center;
}

/* Stilmall för input text, password */
input[type="text"],
input[type="password"] {
  display: block; /* Gör elementen blockelement så de visas på separata rader */
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #aaa; /* Avrundar hörnen på input-fälten för att ge en mjukare look */
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  width: 90%;
}

button {
  display: block;
  margin: 20px auto; /* Centrera skicka-knappen */
  padding: 8px 20px; /* Lägg till utfyllnad för knappen */
  border: none;
  border-radius: 4px;
  background-color: #ff69b4; /* Rosa skicka-knapp, backup */
  background-image: linear-gradient(
    to bottom right,
    #ff69b4,
    #4169e1
  ); /* Gradient från rosa till blå */
  color: #fff; /* Vit textfärg */
  cursor: pointer;
  transition: background 0.3s ease; /* Lägger till en övergångseffekt */
  font-size: 16px; /* Justerbar textstorlek */
  font-family: inherit; /* Ärva typsnitt från förälderelement */
}

button:hover {
  background-image: linear-gradient(
    to top left,
    #ff69b4,
    #4169e1
  ); /* Flippar från bottom right till top left */
}

/* Stilmall för .logout-button */
.logout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5346; /* Röd bakgrundsfärg */
  color: #ffffff; /* Vit textfärg */
  text-decoration: none; /* Ta bort understrykning */
  border-radius: 5px; /* Rundade hörn */
  font-weight: bold; /* Fetstilad text */
}

.logout-button:hover {
  background-color: #5c1b14; /* Mörkare röd bakgrundsfärg vid hover */
}
